<footer class="footer">
    <div class="footer-container">

        <!-- Column 1 -->
        <div class="footer-col">
            <h4>Support</h4>
            <a href="#">Help Center</a>
            <a href="#">Safety Information</a>
            <a href="#">Cancellation Options</a>
            <a href="#">Neighborhood Support</a>
        </div>

        <!-- Column 2 -->
        <div class="footer-col">
            <h4>Community</h4>
            <a href="#">Wonderlust Blog</a>
            <a href="#">Travel Stories</a>
            <a href="#">Events</a>
            <a href="#">Invite Friends</a>
        </div>

        <!-- Column 3 -->
        <div class="footer-col">
            <h4>Hosting</h4>
            <a href="#">Become a Host</a>
            <a href="#">Hosting Resources</a>
            <a href="#">Host Responsibility</a>
            <a href="#">Host Community</a>
        </div>

        <!-- Column 4 -->
        <div class="footer-col">
            <h4>Wonderlust</h4>
            <a href="#">About Us</a>
            <a href="#">Newsroom</a>
            <a href="#">Careers</a>
            <a href="#">Privacy & Terms</a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="left">
            © 2025 Wonderlust Private Limited
        </div>

        <div class="right">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>

            <div class="socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    </div>
</footer>